
{{#each this}}
<li class="team-member">
	<a class="team-member-link" href="{{git}}"><img src="{{photo}}" alt="{{name}}"></a>
	<div class="team-member-info">
		<p>{{name}}</p>
		<p class="team-member-role">{{role}}</p>
	</div>
</li>
{{/each}}